joblib
lightgbm
matplotlib
#numpy<1.24
numpy>=1.24.0
pandas
scikit-learn
streamlit
yfinance
setuptools
pandas_ta
setuptools>=65.5.0
git+https://github.com/twopirllc/pandas-ta.git@0.3.14b0



streamlit
pandas
yfinance
pandas-ta
numpy<2.0

